Exercise Question 1: Given a two list. Create a
third list by picking an odd-index element from the first list and even index
elements from the second.
For
Example:
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
Expected
Output:
Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]
Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

In [ ]:
a=[]
b=[]
c=[]
d=[]
x=[]
while True:
    e=input("Enter data in list 1:")
    if e=='':
        break
    a.append(int(e))
while True:
    f=input("Enter data in list 2:")
    if f=='':
        break
    b.append(int(f))
for i in range(0,len(a)):
        if (i%2!=0):
            c.append(a[i])
for j in range(0,len(b)):
        if (j%2==0):
            d.append(b[j])
x.extend(c)
x.extend(d)
print("Element at odd index in list 1 are:",c)
print("Element at even index in list 2 are:",d)
print("Printing Final list 3:",x)

Enter data in list 1:1
Enter data in list 1:2
Enter data in list 1:3
Enter data in list 1:4
Enter data in list 1:5
Enter data in list 1:6
Enter data in list 1:
Enter data in list 2:1
Enter data in list 2:2
Enter data in list 2:3
Enter data in list 2:4
Enter data in list 2:5
Enter data in list 2:6
Enter data in list 2:
Element at odd index in list 1 are: [2, 4, 6]
Element at even index in list 2 are: [1, 3, 5]
Printing Final list 3: [2, 4, 6, 1, 3, 5]

Given a number count the total
number of digits in a number

In [ ]:
a=[]
count=0
b=[]
while True:
    e=input("Enter data:")
    if e=='':
        break
    a.append(int(e))
for i in a:
    count=0
    while i>0:
        i//=10
        count+=1
    b.append(count)
print(b)

Enter data:123
Enter data:12564
Enter data:25848951
Enter data:21
Enter data:2
Enter data:5555
Enter data:
[3, 5, 8, 2, 1, 4]

Write a Python program to print the numbers of a
specified list after removing even numbers from it.

In [ ]:
a=[]
b=[]
while True:
    e=input("Enter data:")
    if e=='':
        break
    a.append(int(e))
print(a)
for i in a:
    if (i%2==0):
        continue
    b.append(i)
print("List passing even numbers:",b)

Enter data:11
Enter data:22
Enter data:33
Enter data:44
Enter data:55
Enter data:66
Enter data:
[11, 22, 33, 44, 55, 66]
List passing even numbers: [11, 33, 55]

 Write a Python program to generate and print a list of
first and last 5 elements where the values are square of numbers between 1 and
30 (both included).

In [ ]:
a=[]
b=[]
c=[]
while True:
    e=input("Enter data:")
    if e=='':
        break
    a.append(int(e))
for i in a[:5]:
    if i**2>=1 and 30>=i**2:
        b.append(i)
print("First five element square between 1 to 30 are:",b)
for j in a[len(a)-5:len(a)]:
    if j**2>=1 and 30>=j**2:
        c.append(j)
print("Last five element square between 1 to 30 are:",c)

Enter data:1
Enter data:2
Enter data:5
Enter data:8
Enter data:9
Enter data:6
Enter data:5
Enter data:8
Enter data:4
Enter data:8
Enter data:1
Enter data:
First five element square between 1 to 30 are: [1, 2, 5]
Last five element square between 1 to 30 are: [5, 4, 1]

Write a Python program to generate all permutations of a list in Python.

Write a python program to check whether two lists are
circularly identical.

In [ ]:
a=[1,1,0,0]  
b=[0,0,1,1] 
e=0
while True:
    c=a[0]
    a.pop(0)
    a.append(c)
    d=len(b)
    e+=1
    if a==b:
        print('two lists are identical')
        break
    
    if e==d:
        print('two lists are not identical')
        break

two lists are identical

Write a Python
program to change the position of every n-th value with the (n+1)th in a
list. 
Sample list: [0,1,2,3,4,5]

In [ ]:
a=[]
while True:
    e=input("Enter data:")
    if e=='':
        break
    a.append(int(e))
print(a)
for i in range(0,len(a),2):
    a[i],a[i+1]=a[i+1],a[i]
print(a)

Enter data:1
Enter data:2
Enter data:3
Enter data:4
Enter data:5
Enter data:6
Enter data:
[1, 2, 3, 4, 5, 6]
[2, 1, 4, 3, 6, 5]

Write
a Python program to iterate over two lists simultaneously.

In [ ]:
z=[1,2,3,4,5]
y=['a','b','c','d','e']
x=0
for i in z:
    print(i,y[x])
    x+=1

1 a
2 b
3 c
4 d
5 e

Write a Python program to generate the combinations of n
distinct objects taken from the elements of a given list. Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9] Combinations of 2
distinct objects: [1, 2] [1, 3] [1, 4] [1, 5] .... [7, 8] [7, 9] [8, 9]

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
ab=[]
for i in a:
    for j in a:
        if i==j:
            continue
        else:
            ab.append([i,j])
print(ab)

[[1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [1, 7], [1, 8], [1, 9], [2, 1], [2, 3], [2, 4], [2, 5], [2, 6], [2, 7], [2, 8], [2, 9], [3, 1], [3, 2], [3, 4], [3, 5], [3, 6], [3, 7], [3, 8], [3, 9], [4, 1], [4, 2], [4, 3], [4, 5], [4, 6], [4, 7], [4, 8], [4, 9], [5, 1], [5, 2], [5, 3], [5, 4], [5, 6], [5, 7], [5, 8], [5, 9], [6, 1], [6, 2], [6, 3], [6, 4], [6, 5], [6, 7], [6, 8], [6, 9], [7, 1], [7, 2], [7, 3], [7, 4], [7, 5], [7, 6], [7, 8], [7, 9], [8, 1], [8, 2], [8, 3], [8, 4], [8, 5], [8, 6], [8, 7], [8, 9], [9, 1], [9, 2], [9, 3], [9, 4], [9, 5], [9, 6], [9, 7], [9, 8]]

Write a Python program to remove duplicates from a list of
lists. 



Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33],
[40]]


New List : [[10, 20], [30, 56, 25], [33], [40]]

In [ ]:
a=[[10,20],[40],[30,56,25],[10,20],[33],[40]]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(a)
print(sorted(b))

[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
[[10, 20], [30, 56, 25], [33], [40]]

In [ ]:
a=[]
b=[]
while True:
    e=input("Enter data:")
    if e=='':
        break
    a.append([e])
for i in a:
    if i not in b:
        b.append(i)
print(a)
print(sorted(b))

Enter data:10,20
Enter data:40
Enter data:30,56,25
Enter data:10,20
Enter data:33
Enter data:40
Enter data:
[['10,20'], ['40'], ['30,56,25'], ['10,20'], ['33'], ['40']]
[['10,20'], ['30,56,25'], ['33'], ['40']]