**Exercise Question 1: Given a two list. Create a
third list by picking an odd-index element from the first list and even index
elements from the second.**

In [ ]:
a=[10,11,12,13,14,15,16,17]
d=[18,19,20,21,22,23,24,25]
b=[]
c=[]

for i in a:
  if i%2!=0:
    b.append(i)
print(b)   
for j in d:
  if j%2==0:
    c.append(j)
#e=b
#f=e.extend(c)
#print(b)
print(c)
b.extend(c)
print(b)

[11, 13, 15, 17]
[18, 20, 22, 24]
[11, 13, 15, 17, 18, 20, 22, 24]

In [ ]:
a=[10,11,12,13,14,15,16,17]
d=[18,19,20,21,22,23,24,25]

print("Odd Index List:",a[::2])
print("Even index list",d[1::2])
a[::2].extend(d[1::2])
print(a[::2])

Odd Index List: [10, 12, 14, 16]
Even index list [19, 21, 23, 25]
[10, 12, 14, 16]

**Given a number count the total
number of digits in a number**

In [ ]:
a=[22,14,223,33455,22335,112234]
count=0
m=[]
for i in a:
  count=0
  while i>0:
    i=i//10
    count+=1
  m.append(count)
print(m)

[2, 2, 3, 5, 5, 6]

In [ ]:
a=input("Enter a Number")
print("Number of digits:",len(a))

Enter a Number256456
Number of digits: 6

**Write a Python program to print the numbers of a
specified list after removing even numbers from it**

In [ ]:
a=[12,25,56,49,58,88,99]

for j in a:
  if j%2!=0:
    a.remove(j)
    

print(a)
for i in a:
  print(i)

[12, 56, 58, 88]
12
56
58
88

**Write a Python program to generate and print a list of
first and last 5 elements where the values are square of numbers between 1 and
30 (both included).**

In [ ]:
a=[2,5,6,4,5,8,7,2,3,1,3,8,5,9,8,7,5,6]
b=[]
c=[]
#d=a[(len(a)-4):len(a)]
for i in a[0:5]:
  if i**2>1 and 30>i**2 :
    b.append(i)
print(b)

for j in a[len(a)-4:len(a)]:
  if j**2>1 and 30>j**2 :
    c.append(i)
print(c)
b.extend(c)
print(b)

[2, 5, 4, 5]
[5]
[2, 5, 4, 5, 5]

In [ ]:
list2=[2,5,6,4,5,8,7,2,3,1,3,8,5,9,8,7,5,6]

list3=set(list2)
list3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

**Write a python program to check whether two lists are
circularly identical.**

In [ ]:
a=[3,4,1,2]
b=[1,2,3,4]
c=0
d=0
while True:
  e=a[0]
  a.pop(0)
  a.append(e)
  d=len(b)
  c+=1
  if a==b:
    print ('identical')
    break
  if c==d:
    print ('not identical')
    break

identical

 **Write a Python
program to change the position of every n-th value with the (n+1)th in a
list.**

In [ ]:
temp=0
list12=[0,10,20,30,40,50]
for i in range(0,len(list12),2):
    
    list12[i],list12[i+1]=list12[i+1],list12[i]
    #list12[i+1]=list12[i]

print(list12)

[10, 0, 30, 20, 50, 40]

**Write
a Python program to iterate over two lists simultaneously.**

In [ ]:
z=[1,2,3,4,5]
y=['a','b','c','d','e']
x=0
for i in z:
    print(i,y[x])
    x+=1

1 a
2 b
3 c
4 d
5 e

**Write a Python program to generate the combinations of n
distinct objects taken from the elements of a given list. Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9] Combinations of 2
distinct objects: [1, 2] [1, 3] [1, 4] [1, 5] .... [7, 8] [7, 9] [8, 9]**

In [ ]:
lista=[1, 2, 3, 4, 5, 6, 7, 8, 9]
listb=[]
for i in lista:
  for j in lista:
    if i==j:
      continue
    else:
      listb.append([i,j])
    
print(listb)

[[1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [1, 7], [1, 8], [1, 9], [2, 1], [2, 3], [2, 4], [2, 5], [2, 6], [2, 7], [2, 8], [2, 9], [3, 1], [3, 2], [3, 4], [3, 5], [3, 6], [3, 7], [3, 8], [3, 9], [4, 1], [4, 2], [4, 3], [4, 5], [4, 6], [4, 7], [4, 8], [4, 9], [5, 1], [5, 2], [5, 3], [5, 4], [5, 6], [5, 7], [5, 8], [5, 9], [6, 1], [6, 2], [6, 3], [6, 4], [6, 5], [6, 7], [6, 8], [6, 9], [7, 1], [7, 2], [7, 3], [7, 4], [7, 5], [7, 6], [7, 8], [7, 9], [8, 1], [8, 2], [8, 3], [8, 4], [8, 5], [8, 6], [8, 7], [8, 9], [9, 1], [9, 2], [9, 3], [9, 4], [9, 5], [9, 6], [9, 7], [9, 8]]

**Write a Python program to remove duplicates from a list of
lists.**

In [ ]:
listc=[]

while True:
  a=input("Enter a element")
  if a=="":
    break
  listc.append(a)
listd=[]
for i in listc:
  if i not in listd:
    listd.append(i)

print(listc)
print(listd)

Enter a element56
Enter a element58
Enter a element56
Enter a element96
Enter a element75
Enter a element75
Enter a element58,75
Enter a element46
Enter a element
['56', '58', '56', '96', '75', '75', '58,75', '46']
['56', '58', '96', '75', '58,75', '46']

In [ ]:
54