In [ ]:
b=[19,19,5,5,5,5,5]
c=[19,15,15,5,3,3,5,2]

def occur(x):
  print(x)
  if x.count(19)==2 and x.count(5)>=3:
    return True
  else:
    return False

In [ ]:
print(occur(b))
occur(c)

[19, 19, 5, 5, 5, 5, 5]
True
[19, 15, 15, 5, 3, 3, 5, 2]

False

In [ ]:
#list2=[19, 19, 15, 5, 5, 5, 1, 2]
list_2=[ ] 

while True:
  i=(input("Enter the elements: "))
  if i =="":
    break

  else:
    list_2.append(int(i))

print(list_2)
def check(list_2):
  return len(list_2)==8 and b.count(list_2[4])==3

print(check(list_2))

Enter the elements: 22
Enter the elements: 25
Enter the elements: 4
Enter the elements: 26
Enter the elements: 25
Enter the elements: 25
Enter the elements: 25
Enter the elements: 21
Enter the elements: 22
Enter the elements:
[22, 25, 4, 26, 25, 25, 25, 21, 22]
False

In [ ]:
2

2

In [ ]:
b="The dance, held in the school gym, ended at midnight."

m=b.split()
#print(m)
for i in m:
  for i in b:
    if i == "," or i==" ":
      print(i)

In [ ]:
b="The dance, held in the school gym, ended at midnight."
c=[]
e=[]
d=b.replace(",","")
e=d.split()

for i in b:
  if i=="," or i==" ":
    c.append(i)


print(c)
print(len(c))
print()
print(e+c)

[' ', ',', ' ', ' ', ' ', ' ', ' ', ',', ' ', ' ', ' ']
11

['The', 'dance', 'held', 'in', 'the', 'school', 'gym', 'ended', 'at', 'midnight.', ' ', ',', ' ', ' ', ' ', ' ', ' ', ',', ' ', ' ', ' ']

In [ ]:
def check(l1):
    words = []
    word = ""
    for i in l1:
        if i in " ,":
            words += [word, i]
            word = ""
        else:
            word += i
    words += [word]
    return [words[::2], words[1::2]]


l1 = "We are, here at , Cdac, khargar."
print("output:")
print(check(l1))

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
l=set(list1)
list2=[1,2,3,4,6,7,10]
m=set(list2)
w=l.difference(m)
k=l-m
print(sorted(w))
print(sorted(k))

[5, 8, 9]
[5, 8, 9]

In [ ]:
print(w)

{8, 9, 5}

In [ ]:
a=[0,1,0,0,3,4,0,5,6]

for i in a:
  if i==0:
    a.remove(0)
    a.insert(len(a),0)
print(a)

[1, 3, 4, 5, 6, 0, 0, 0, 0]

In [ ]:
b="The dance, held in the school gym, ended at midnight."

for i in b:
  c=b.replace(","," ")
  
print(c)

The dance  held in the school gym  ended at midnight.

In [ ]:
a=[0,1,2,3,4,2]
b={}
for i in a:
  for j in a:
    print(i,"-->",j,"-->",i+j)
    if i+j==4:
      b.update({i:j})
      
b

0 --> 0 --> 0
0 --> 1 --> 1
0 --> 2 --> 2
0 --> 3 --> 3
0 --> 4 --> 4
0 --> 2 --> 2
1 --> 0 --> 1
1 --> 1 --> 2
1 --> 2 --> 3
1 --> 3 --> 4
1 --> 4 --> 5
1 --> 2 --> 3
2 --> 0 --> 2
2 --> 1 --> 3
2 --> 2 --> 4
2 --> 3 --> 5
2 --> 4 --> 6
2 --> 2 --> 4
3 --> 0 --> 3
3 --> 1 --> 4
3 --> 2 --> 5
3 --> 3 --> 6
3 --> 4 --> 7
3 --> 2 --> 5
4 --> 0 --> 4
4 --> 1 --> 5
4 --> 2 --> 6
4 --> 3 --> 7
4 --> 4 --> 8
4 --> 2 --> 6
2 --> 0 --> 2
2 --> 1 --> 3
2 --> 2 --> 4
2 --> 3 --> 5
2 --> 4 --> 6
2 --> 2 --> 4

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

Given an array of N distinct element of at least size 2. A pair (a, b) in an array is defined as ‘a’ is the index of second highest element and ‘b’ is the index of highest element in the array. The task is to count all the distinct pair where a < b in all the subarrays.

Examples :  

Input : arr[] = { 1, 3, 2, 4 }
Output : 3
Explanation : 
The subarray { 1 }, { 3 }, { 2 }, { 4 } does not contain any such pair 
The subarray { 1, 3 }, { 2, 4 } contain (1, 2) as pair 
The subarray { 3, 2 } does not contain any such pair 
The subarray { 3, 2, 4 } contain (1, 3) as a pair 
The subarray { 1, 3, 2 } does not contain any such pair 
The subarray { 1, 3, 2, 4 } contain (2, 4) as a pair 
So, there are 3 distinct pairs, which are (1, 2), (1, 3) and (2, 4).

In [ ]:
a=[1,3,2,4]

In [ ]:
a=['abc','xyz','aba','1221']
count=0
for i in range(len(a)):
  if len(a[i])>=2 and a[i][0]==a[i][-1]:
    count+=1
print(count)

2