#### **Q.1 Write a Rectangle class in Python language.**

In [ ]:
class Rectangle:
  def Length(rect):
    rect.length=int(input('Enter length of rectangle: '))
  def Width(rect):
    rect.width=int(input('Enter width of rectangle: '))
  def Area(rect):
    rect.area=rect.width*rect.length
  def Perimeter(rect):
    rect.peri=2*(rect.width + rect.length)
  def display(rect):
    print('Rectangle having length',rect.length,'and width',rect.width,'has Area',rect.area,'and Perimeter',rect.peri)

In [ ]:
class PP(Rectangle):
  def Height(rect):
    rect.height=int(input('Enter height of Parallelepipede: '))
  def Volume(rect):
    rect.volume=rect.area*rect.height
    print('Volume of Parallelepipede is',rect.volume)

In [ ]:
r1=PP()

In [ ]:
r1.Length()
r1.Width()

Enter length of rectangle: 10
Enter width of rectangle: 20

In [ ]:
r1.Area()
r1.Perimeter()
r1.display()

Rectangle having length 10 and width 20 has Area 200 and Perimeter 60

In [ ]:
r1.Height()

Enter height of Parallelepipede: 5

In [ ]:
r1.Volume()

Volume of Parallelepipede is 1000

#### **Q.2 Create a Python class Person with attributes: name and age of type string.**

In [ ]:
class Person:
  def name(self):
    self.name=input('Enter name: ')
  def age(self):
    self.age=input('Enter age: ')
  def display(self):
    print('Name:',self.name,' Age:',self.age)

class Student(Person):
  def sec(self):
    self.sec=input('Enter section: ')
  def displayStudent(self):
    print('Student Name:',self.name,'Age:',self.age,'Section:',self.sec)

In [ ]:
p1=Person()

In [ ]:
p1.name()
p1.age()

Enter name: Jayraj
Enter age: 23

In [ ]:
p1.display()

Name: Jayraj  Age: 23

In [ ]:
s1=Student()

In [ ]:
s1.name()
s1.age()
s1.sec()

Enter name: Dhiraj
Enter age: 23
Enter section: DBDA

In [ ]:
s1.displayStudent()

Student Name: Dhiraj Age: 23 Section: DBDA

#### **Q.3 Create a Python class called BankAccount.**

In [ ]:
accno=863956
class BankAcc:
  def __init__(self):
    self.accountno=accno+111
    print('your account number:',self.accountno)
    self.name=input('Enter your name: ')
    self.balance=float(input('Enter amount:'))
  def deposite(self):
    depo=float(input('Enter amount to deposite:'))
    self.balance+=depo
    print('Depositted:',depo,'Current balance:',self.balance)
  def withdraw(self):
    wd=float(input('Enter amount to withdraw:'))
    self.balance-=wd
    print('withdrawn amount:',wd,'Current balance:',self.balance)
  def bankfees(self):
    self.balance*=0.95
  def display(self):
    print('Account number:',self.accountno,'| Account name: ',self.name,'| Current balance:',self.balance)

In [ ]:
a1=BankAcc()

your account number: 864067
Enter your name: Jayraj
Enter amount:25460

In [ ]:
a1.deposite()

Enter amount to deposite:1000
Depositted: 1000.0 Current balance: 26460.0

In [ ]:
a1.withdraw()

Enter amount to withdraw:5000
withdrawn amount: 5000.0 Current balance: 21460.0

In [ ]:
a1.display()

Account number: 864067 | Account name:  Jayraj | Current balance: 21460.0

#### **Q.4  Define a Book class with the following attributes: Title, Author (Full name), Price.**

In [ ]:
class Book:
  def __init__(self):
    self.title=input('Enter book title: ')
    self.author=input('Enter author name: ')
    self.price=input('Enter price: ')
  def View(self):
    print('Title of Book:',self.title,'| Author:',self.author,'| Price: $',self.price)

In [ ]:
b1=Book()

Enter book title: Harry Potter
Enter author name: J. K. Rowling
Enter price: 35

In [ ]:
b1.View()

Title of Book: Harry Potter | Author: J. K. Rowling | Price: $ 35

#### **Q.5 Create a class called TK_extended which inherits from TK class**

#### **Q.6 Create a child class Bus that will inherit all of the variables and methods of the Vehicle class. In the vehicle class create relevant methods and variables.**

In [ ]:
class Vehicle:
  def company(self):
    self.company=input('Enter company of Vehicle: ')
  def model(self):
    self.model=input('Enter Vehicle Model: ')
  def show(self):
    print('Company:',self.company,'| Model :',self.model)
  
class Bus(Vehicle):
  def seats(self,type='Bus'):
    self.seats=input('Enter seating capacity of bus: ')
    self.type=type
  def showbus(self):
    print('Company:',self.company,'| Model:',self.model,'| Vehicle Type:',self.type,'| Seating Capacity:',self.seats)

In [ ]:
bus1=Bus()

In [ ]:
bus1.company()
bus1.model()
bus1.seats()

Enter company of Vehicle: TATA
Enter Vehicle Model: Starbus
Enter seating capacity of bus: 50

In [ ]:
bus1.showbus()

Company: TATA | Model: Starbus | Vehicle Type: Bus | Seating Capacity: 50

#### **Q.7 Define a class attribute "color‚Äù with a default value white. i.e., Every Vehicle should be white.**

In [ ]:
class Vehicle:
  def __init__(self,colour='White'):
    self.company=input('Enter company of Vehicle: ')
    self.model=input('Enter Vehicle Model: ')
    self.colour=colour
  def show(self):
    print('Comany:',self.company,'| Model :',self.model,'| Colour:',self.colour)

In [ ]:
v1=Vehicle()

Enter company of Vehicle: BMW
Enter Vehicle Model: M3

In [ ]:
v1.show()

Comany: BMW | Model : M3 | Colour: White